SMOO_TOKEN_RCL_1="rcl.smoo.it:1027:<redacted>"
SMOO_TOKEN_RCL_2="rcl.smoo.it:1028:<redacted>"
SMOO_TOKEN_RCL_3="rcl.smoo.it:1029:<redacted>"
SMOO_TOKEN_RCL_4="rcl.smoo.it:1030:<redacted>"

SMOO_TOKEN_PIPLUP_1="piplup.smoo.it:1027:<redacted>"
SMOO_TOKEN_PIPLUP_2="piplup.smoo.it:1028:<redacted>"
SMOO_TOKEN_PIPLUP_3="piplus.smoo.it:1029:<redacted>"

SMOO_TOKEN_LUWUNA_1="luwuna.smoo.it:1027:<redacted>"
SMOO_TOKEN_LUWUNA_2="luwuna.smoo.it:1027:<redacted>"
SMOO_TOKEN_LUWUNA_3="luwuna.smoo.it:1027:<redacted>"
